
%tarjeta-servicios{
    background-color: #ffffff7c;
    border-radius: 20px;
    padding: 20px;
    width: max(250px , 20%);
    @include dflex(column,space-between,center);
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}