@import "../utils/variables";

footer{
    height: 120px;
    padding: 15px 5vw 15px;
    display:flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: $c-secundario;
    i{
        padding: 4px;
        font-size: 1.8rem;
        color: $c-blanco;
        transition: 0.1s all ease;
    }
    a:hover > i{
        font-size: 2.0rem;
    }
    h5{
        font-weight: 700;
        color:$c-blanco;
    }

}


